@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Led';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/LED Dot-Matrix 400.ttf') format('truetype');
}

@layer base {
  html {
    font-family: 'Led', sans-serif;
  }
}

